html,
body {
  height: 100%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/menu.png) !important;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.5) !important;
}

.image-wd {
  width: 100px;
}

.invalid-feedback {
  display: inline-block !important;
}