@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  background-color: #fff;
}

.dark {
  background-color: #20232a !important;
  color: #EBEDF0 !important;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(/images/menu.png?3facb8ad3164f3c4d61bdbc5f643d424) !important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.image-wd {
  width: 100px;
}

.invalid-feedback {
  display: inline-block !important;
}

